<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Teach Piano Online - Practice Sheet Generator</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="style/style.css">
</head>

<body>
	<div id="app">

		<div id="messages">
			<div v-for="message, index in messages" class="message" :class="message.type">
				<p>{{ message.text }}</p>
				<button class="button" @click="killMessage(index)">X</button>
			</div>
		</div>

		<header id="header">

			<div id="header-content">
				<h1>Welcome!</h1>
				<p>Please choose between the Practice Sheet Generator and the Random Number Generator.</p>

				<div id="generation-form">
					<fieldset class="title">
						<input id="toggle-on" class="toggle toggle-left" name="toggle" type="radio" value="practice"
							v-model="sheet" checked>
						<label for="toggle-on" class="btn">Practice Sheets</label>
						<input id="toggle-off" class="toggle toggle-right" name="toggle" type="radio" value="random"
							v-model="sheet">
						<label for="toggle-off" class="btn">Random Numbers</label>
					</fieldset>

					<fieldset>
						<legend>Piece Title: </legend>
						<input type="text" v-model="piece" placeholder="Input Piece Title" name="piece">
					</fieldset>

					<fieldset>
						<legend>Composer</legend>
						<input type="text" v-model="composer" placeholder="Input Composer's Name (optional)"
							name="composer">
					</fieldset>

					<fieldset>
						<legend>Student's Name: </legend>
						<input type="text" v-model="student" placeholder="Input Student's Name (optional)"
							name="student">
					</fieldset>

					<fieldset v-show="sheet === 'practice'">
						<legend>Number of Measures</legend>
						<input v-model.number="measures" @keyup="repeatRange" type="number" min="1" max="126">
					</fieldset>

					<fieldset v-show=" sheet==='random'">
						<legend>Starting Measure</legend>
						<input v-model.number=" startingMeasure" @keyup="repeatRange" type="number" min="1">
					</fieldset>

					<fieldset v-show="sheet === 'random'">
						<legend>Ending Measure</legend>
						<input v-model.number="endingMeasure" @keyup="repeatRange" type="number">
					</fieldset>

					<fieldset>
						<legend>{{ repeatType }}</legend>
						<input v-model.number="repeat" @keyup="repeatRange" type="number" min="1">
					</fieldset>

					<button @click="exportPDF">Export PDF</button>
				</div>

			</div>

			<div id="header-controls">
				<a href="#" @click="showHideControls">
					<div class="control">
						<div id="bar-1" class="header-control-bar"></div>
						<div id="bar-2" class="header-control-bar"></div>
						<div id="bar-3" class="header-control-bar"></div>
						<div id="bar-4" class="header-control-bar"></div>
					</div>
				</a>
			</div>

		</header>

		<div id="container">

			<div id="paper">

				<div id="page">

					<div id="copyright">
						<img src="img/tpo-yellowcat.jpg">
					</div>

					<div id="info">
						<div v-if="piece || composer || student">
							<h4>{{ piece }}</h4>
							<h4 v-show="composer">by {{ composer }}</h4>
							<h5>{{ student }}</h5>
						</div>
						<div v-else>
							<h6>Please input info above...</h6>
						</div>
					</div>

					<div id="grid">

						<div class="grid-practice" v-show="sheet === 'practice'">
							<div class="grid-tile" v-for="(grid, index) in repeat">
								<div class="measure" v-for="(measure, index) in measures">
									<div class="inner-measure">{{ index +1 }}</div>
								</div>
							</div>
						</div>

						<div class="grid-random" v-show="sheet === 'random'">
							<div class="measure" v-for="(measure, index) in randomizedMeasures">
								<div class="inner-measure">{{ randomizedMeasures[index] }}</div>
							</div>
						</div>

					</div>

					<div id="footer">

						<div class="footer-column">
							<h4 class="footer-column-title">Weekly Missions</h4>
							<div class="footer-column-number">1</div>
							<div class="footer-column-box"></div>
							<div class="footer-column-number">2</div>
							<div class="footer-column-box"></div>
							<div class="footer-column-number">3</div>
							<div class="footer-column-box"></div>
							<div class="footer-column-number">4</div>
							<div class="footer-column-box"></div>
							<div class="footer-column-number">5</div>
							<div class="footer-column-box"></div>
						</div>

						<div class="footer-column">
							<h4 class="footer-column-title">Lesson Goals</h4>
							<div class="footer-column-number">1</div>
							<div class="footer-column-box"></div>
							<div class="footer-column-number">2</div>
							<div class="footer-column-box"></div>
							<div class="footer-column-number">3</div>
							<div class="footer-column-box"></div>
							<div class="footer-column-number">4</div>
							<div class="footer-column-box"></div>
							<div class="footer-column-number">5</div>
							<div class="footer-column-box"></div>
						</div>

					</div>

					<div id="logo-date">
						<div id="logo">
							<img src="img/tpo-logo.jpg">
						</div>
						<div id="date">
							<h4>{{ date }}</h4>
						</div>
					</div>

				</div>

			</div>

		</div>
	</div>

	<style>

	</style>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.4/vue.min.js"></script>
	<script src="node_modules/jspdf/dist/jspdf.min.js"></script>
	<script src="node_modules/html2canvas/dist/html2canvas.min.js"></script>
	<script src="node_modules/moment/min/moment.min.js"></script>
	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data: {
				sheet: 'practice',
				student: '',
				piece: '',
				composer: '',
				date: moment().format("dddd, MMMM Do YYYY"),
				measures: 40,
				measuresMax: 126,
				repeat: 1,
				repeatMax: 6,
				startingMeasure: 13,
				endingMeasure: 28,
				measureRange: [],
				numberOfLargemeasuresMax: 210,
				numberOfSmallmeasuresMax: 336,
				messages: []
			},
			computed: {
				randomizedMeasures() {
					console.log('randomizedMeasures() has been called')
					//	Setup variables
					var rangedMeasures = [];
					var repeat = this.repeat;
					var randomizedMeasures = [];

					//	Create array from low/high values
					for (var i = this.startingMeasure; i <= this.endingMeasure; i++) {

						//	Add 'repeat' copies of this number
						for (let i2 = 0; i2 < repeat; i2++) {

							//	Add 'i' to array
							rangedMeasures.push(i);
						}
					}

					//	Randomize the measures
					randomizedMeasures = rangedMeasures.sort(function (a, b) { return 0.5 - Math.random() });

					//	Set the value of measureRange to the randomized, repeated array
					return this.measureRange = randomizedMeasures;

				},
				repeatType() {

					if (this.sheet === 'practice') {
						return 'Repeat Grid';
					} else {
						return 'Repeat Range';
					}
				}
			},
			methods: {
				exportPDF() {

					if (this.piece != '') {

						//	Get the title of the piece, and format the name
						const date = moment().format("YYYY-MM-DD");
						const piece = this.piece.replace(/\s+/g, '-').toLowerCase()
						const measures = ((this.sheet == 'practice') ? this.measures + 'x' + this.repeat : this.startingMeasure + '-' + this.endingMeasure + '-' + this.repeat + 'x');
						const filename = `${date}.${piece}-${measures}`

						const element = document.getElementById('paper')

						html2canvas(element, { scale: 2, useCORS: true }).then(canvas => {
							const imgData = canvas.toDataURL('image/jpeg', 1.0)

							// document.body.appendChild(canvas)

							const doc = new jsPDF('p', 'pt', 'letter')
							doc.addImage(imgData, 'JPEG', 0, 0, 612, 792)
							doc.save(filename + '.pdf')

							//	Send success message
							this.message('success', 'PDF has been created.')

						});

					} else {
						this.message('error', 'You must input at least the piece name')
					}

				},
				killMessage(index) {
					console.log('"index[' + index + ']" has been deleted')
					this.$delete(this.messages, index)
				},
				limitNumber: function (val, oldVal, decimals, min, max) {
					if (isNaN(val)) {
						return oldVal;
					}
					return parseFloat(Math.max(Math.min(val, max), min)).toFixed(decimals);
				},
				message(type, message) {

					//	Get messages array
					const messagesArray = this.messages

					//	Push message to array
					messagesArray.push({ type: type, text: message })

				},
				repeatRange() {

					//	 Set variables
					const repeat = this.repeat;
					const repeatMax = this.repeatMax
					const measures = this.measures
					const sheet = this.sheet;
					const measureRange = this.measureRange.length;
					const startingMeasure = this.startingMeasure;
					const endingMeasure = this.endingMeasure;

					//	Combine variables to make other variables
					const subtotalMeasures = endingMeasure - startingMeasure
					const totalMeasures = subtotalMeasures * repeat;

					//	Check to see which sheet if visible
					if (sheet == "practice") {

						//	Don't let the repeat go less than 1
						if (repeat < 1) {
							this.repeat = 1;
							this.message('alert', 'There must be at least one grid')
						}

						//	Check to see if there are too many grids of measures to render the PDF
						if (repeat > 2) {

							switch (true) {
								case (0 <= measures && measures <= 9):
									this.repeatMax = 18
									break
								case (9 < measures && measures <= 18):
									this.repeatMax = 10
									break
								case (18 < measures && measures <= 27):
									this.repeatMax = 8
									break
								case (27 < measures && measures <= 36):
									this.repeatMax = 6
									break
								case (36 < measures && measures <= 63):
									this.repeatMax = 4
									break
								default:
									this.repeatMax = 2
							}

							if (repeat > this.repeatMax) {
								this.repeat = this.repeatMax
								this.message('error', 'With this many measures, you can only have ' + this.repeatMax + ' grids')
							}


						}

						//	 Check to see if there are too many measures to render the PDF correctly
						if (measures < 9) {
							this.measures = 9
							this.message('error', 'There can be a minimum of 9 measures')
						}
						if (measures > 126) {
							this.measures = 126
							this.message('error', 'There can be a maximum of 126 measures')
						}

					} else {

						//	Don't let the repeat go less than 1
						if (startingMeasure < 1) {
							this.startingMeasure = 1;
							this.message('alert', 'You can\'t start a piece before the first measure')
						}

						//	Make sure the ending measrue is higher than the starting measure
						if (endingMeasure <= startingMeasure) {
							this.endingMeasure = startingMeasure + 1;
							this.message('alert', 'The Ending Measure must be larger than the Starting Measure')
						}

						//	Make sure there aren't too many boxes to render PDF
						if (measureRange > 165) {
							console.log('Too big')
							this.endingMeasure = startingMeasure + 164
							this.message('error', 'There can only be a maximum of 165 total random measures')
						}

					}

				},
				showHideControls() {

					//  Get the elements
					var header = document.getElementById('header');
					var headerControls = document.getElementById('header-controls');
					var form = document.getElementById('header-content');

					// Calculates form height, adds "-" and "px"
					var height = "-" + form.clientHeight + "px";

					//  Check to see if the "closed" class is on the headerControls
					if (headerControls.classList == '') {

						//  Add the "closed" class to the headerControls
						headerControls.classList.add('closed');

						// Add negative margin of form's height to header
						form.style.marginTop = height;
					} else {

						//  Remove the "closed" class to the headerControls
						headerControls.classList.remove('closed');

						// Add negative margin of form's height to header
						form.style.marginTop = 0;
					}

				}
			}
		})
	</script>
</body>

</html>